# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
/.venv/

# IDE files
.idea/

# Logs and databases
*.log
*.sqlite

# Compiled Python files
*.pyc

# PyInstaller
dist/
build/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

